@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --btn-color: #3498db;
  --btn-color-hover: #177abb;
  --secondary-color: #2ecc71;
  --dark-green-color: #07833b;
  --grey-color: #444;
  --beige-color: #f5f5dc;

  --yellow--color: #fedc56;
  --bg-color: #fafafa;
  --text-color: #3d3d3d;
  --icon-hover: #950404;
  --icon-color: #e53f3f;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.container {
  width: 90%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  background-color: var(--btn-color);
  color: var(--bg-color);
  font-weight: bold;
  padding: 10px 20px;
  border: 0;
  outline: none;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.btn:hover {
  background-color: var(--btn-color-hover);
}
.header {
  height: 60px;
  background-color: var(--text-color);
  color: var(--bg-color);
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header .menu .logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--yellow--color);
}
.header .menu .logo img {
  height: 60px;
}
.header .menu .navbar {
  display: flex;
  gap: 1rem;
  font-weight: 600;
  height: 100%;
}
.header .menu .navbar .nav-item {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.header .menu .navbar .nav-item:hover {
  background-color: var(--yellow--color);
  color: var(--text-color);
}
.add-participant {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #0000006a;
  z-index: 9999;
  top: 0;
  display: none;
}
.add-participant.active {
  display: block;
}
.add-participant .box {
  height: 150px;
  width: 200px;
  background-color: var(--text-color);
  color: var(--bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  gap: 1rem;
}
.add-participant .box.active {
  display: flex;
}
.add-participant .box .fa-xmark {
  margin-left: auto;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  transition: color 0.5s ease;
}
.add-participant .box .fa-xmark:hover {
  color: var(--bg-color);
}
.add-participant .box .input-text:focus {
  border: 2px solid var(--bg-color);
  background-color: var(--beige-color);
}
.add-participant .box .input-submit,
.add-participant .box .input-text {
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
}
.day-list {
  position: fixed;
  right: 5%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 999;
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.day-list .day-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
}
.winner-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  height: 4rem;
  margin: 1rem 0;
}
.winner-container .winner {
  background-color: var(--text-color);
  color: var(--yellow--color);
  padding: 1rem 2rem;
  width: fit-content;
  font-weight: 700;
  font-size: 1.5rem;
  position: absolute;
  bottom: -110%;
  transition: bottom 0.5s ease-in-out;
}
.winner-container .winner.active {
  bottom: 0;
}
.lists {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  min-height: 200px;
  margin-top: 10px;
}
.lists .participant-list {
  width: 100%;
  border-right: 3px solid silver;
  padding-right: 10px;
}
.lists .participant-list .participant-body .participant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid silver;
}
.lists .participant-day-list .participant-body .participant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid silver;
}
.lists .participant-day-list {
  width: 100%;
}
.lists .participant-list .participant-title,
.lists .participant-day-list .participanttitle {
  text-align: center;
  border-bottom: 15px;
  font-weight: bold;
  gap: 3px;
}
.lists .participant-icon #user-pen,
.lists .participant-icon #xmark {
  transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  cursor: pointer;
}
.lists .participant-icon #xmark {
  color: var(--icon-color);
}
.lists .participant-icon #xmark:hover {
  color: var(--icon-hover);
}
.lists .participant-icon #user-pen {
  color: var(--secondary-color);
}
.lists .participant-icon #user-pen:hover {
  color: var(--dark-green-color);
}

.participant-body.dagilim .participant{
  margin: 20px 0;
}